{% extends 'layout.html' %}
{% block body_block %}

<div id="deneme">
  <img id="foto" src="https://m.media-amazon.com/images/M/MV5BNzA5MjkwYzMtNGY2MS00YWRjLThkNTktOTNmMzdlZjE3Y2IxXkEyXkFqcGdeQXVyMjkwMzMxODg@._V1_UY67_CR0,0,45,67_AL_.jpg"> <a href="tasarim"> Umbrella Academy</a>
</div>
<div id="deneme2"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BOGJmZjcxNTAtYjViZS00YzJmLTlkMzgtZmVkYTQ5YjUwMjIyXkEyXkFqcGdeQXVyNjMwMzc3MjE@._V1_UY67_CR0,0,45,67_AL_.jpg">Tenet </div>
<div id="deneme"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BMjYzMWQ2NWQtZGJkOC00ZWYzLThhMmMtZDdmNGM4NzEyNmU1XkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UY67_CR0,0,45,67_AL_.jpg">Death on the Nile </div>
<div id="deneme2"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BMjMwOGEyMTQtMDllMC00YTU3LTgyNzktYmEwY2Y4MjQzYmRkXkEyXkFqcGdeQXVyMjM4OTYzMTQ@._V1_UY67_CR0,0,45,67_AL_.jpg">The Rental </div>
<div id="deneme"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BMzQxNzQzOTQwM15BMl5BanBnXkFtZTgwMDQ2NTcwODM@._V1_UY67_CR0,0,45,67_AL_.jpg">Ritüel </div>
<div id="deneme2"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BOTdmNTFjNDEtNzg0My00ZjkxLTg1ZDAtZTdkMDc2ZmFiNWQ1XkEyXkFqcGdeQXVyNTAzNzgwNTg@._V1_UX45_CR0,0,45,67_AL_.jpg">1917 </div>
<div id="deneme"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_UY67_CR0,0,45,67_AL_.jpg">Avengers:End Game </div>
<div id="deneme2"><img id="foto" src="https://m.media-amazon.com/images/M/MV5BNjViNWRjYWEtZTI0NC00N2E3LTk0NGQtMjY4NTM3OGNkZjY0XkEyXkFqcGdeQXVyMjUxMTY3ODM@._V1_UY67_CR0,0,45,67_AL_.jpg">Hamilton </div>







{% endblock %} 