{% extends 'layout.html' %}
{% block body_block %}

 <div class="main">
<div class="foto"><img src="https://m.media-amazon.com/images/M/MV5BNzA5MjkwYzMtNGY2MS00YWRjLThkNTktOTNmMzdlZjE3Y2IxXkEyXkFqcGdeQXVyMjkwMzMxODg@._V1_UY268_CR0,0,182,268_AL_.jpg" alt=""></div>
<div class="baslik">The Umbrella Academy</div>
<div class="aciklama">A family of former child heroes, now grown apart, must reunite to continue to protect the world.
    </div>
</div>
<div class="oy">
    <div class="rating">
        <span><input type="radio" name="rating"id="str5" value="5"><label for="str5"></label></span>
        <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
        <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
        <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
        <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
    </div>
     
</div>
<div class="cast">OYUNCULAR</div>
<div class="casts"><img id="foto1" src="https://m.media-amazon.com/images/M/MV5BMTU3MzM3MDYzMV5BMl5BanBnXkFtZTcwNzk1Mzc3NA@@._V1_UX32_CR0,0,32,44_AL_.jpg">Ellen Page</div>
<div class="casts2"><img id="foto1" src="https://m.media-amazon.com/images/M/MV5BN2Y1OGZjNWUtYTdmMy00OGQxLTg5MmYtOTRjMjMxZWI1NTJhXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_UY44_CR17,0,32,44_AL_.jpg">Tom Hopper</div>
<div class="casts"><img id="foto1" src="https://m.media-amazon.com/images/M/MV5BNWRiOTcyMmEtNDlmNC00ODk3LTgzNzQtYjc0YThmYzhhYzVhXkEyXkFqcGdeQXVyNzcyNTIzMTA@._V1_UX32_CR0,0,32,44_AL_.jpg">Emmy Raver-Lampman</div>
<div class="casts2"><img id="foto1" src="https://m.media-amazon.com/images/M/MV5BOTFjYWMwMzQtNTgyYS00ZDg2LWE1NDMtYjcyN2I4NDFmY2MwXkEyXkFqcGdeQXVyMTYwMDE3NA@@._V1_UX32_CR0,0,32,44_AL_.jpg">Robert Sheehan</div>
<div class="casts"><img id="foto1" src="https://m.media-amazon.com/images/M/MV5BNGQ0MGJjMWEtNjg2MC00MjhkLTk4YzktYTdhNDA1YmU4YWIyXkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_UX32_CR0,0,32,44_AL_.jpg">Justin H. Min</div>
<div class="casts2a"><img id="foto1" src="https://m.media-amazon.com/images/M/MV5BMTY2MDYzNjA2MF5BMl5BanBnXkFtZTYwMzQxMjE2._V1_UX32_CR0,0,32,44_AL_.jpg">Colm Feore</div>

<div id="yorum">
    <div id="isim">YORUMLAR</div>
   <div id=>
    <input type="text" class="text">
 </div>
 <button type="submit" class="btn btn-outline-dark" id="btnyrm">Gönder</button>

  <div class="ekran"> <p id="yazi1">Çok güzel bir site...</p><p id="yazi2">Fatma Gül Turan</p> </div>
  <div class="ekran"> <p id="yazi1">Harikaa...</p><p id="yazi2">Fatma Gül Turan</p> </div>
     
  
 
 
 
 



</div>

    

 
 


{% endblock %} 